
body{
	color: #666663;
	font-family: 'Raleway', sans-serif;
	text-align: left;
    line-height: 1.6;
    font-size:16px;
    
}
header {
    position: absolute;
    width: 100%;
    z-index: 3;
}
.clear {
    clear: both;
}
.overlay-banner-blog{
    min-height:210px; 
    width:100%; 
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), transparent);
}
.overlay-home-blog{
    min-height:270px; 
    width:100%; 
    background: rgba(0,0,0,0.5);
}
.carousel-inner>.active {
    min-height: 470px;
}

.navbar-default .navbar-nav > li > .menu-opt, .languaje a{
    color: #fff;
}
.navbar-default .navbar-nav > li > .menu-opt:hover, .languaje a:hover{
    color:#fff;
}

.navbar-static-top{
    z-index: 1030;
    position:absolute;
    background:transparent;
    width:100%
}

/*-----------------------------------------------
               Menu bs4
------------------------------------------------*/
.navbar-nav{
    margin-bottom:-1px;
}
.navbar-collapse.show ul.navbar-nav.mr-sm-2{
    /*background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);*/
    background: rgba(0,0,0,0.7);
    float:none;
}
.navbar-collapse.show ul.navbar-nav.mr-sm-2.light-bg{
    background: #f2f6f8;
}
    
.navbar-collapse.show ul.navbar-nav.mr-left-blog{
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
    /*background: rgba(0,0,0,0.7);*/
}
.navbar-collapse.show ul.navbar-nav.mr-left-blog.light-bg{
     background: linear-gradient(to top, #f2f6f8, transparent);
    
}
.navbar-light .navbar-toggler-icon.white-toggle{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler-icon.blue-toggle{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(44,48,140, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler.white-toggle {
  border-color: rgb(255,255,255);
} 
.navbar-light .navbar-toggler.blue-toggle {
  border-color: rgb(44,48,140);
} 

@media (max-width: 767px){
    .menu-active {
        display: block;
    }
    .image-head {
        position: relative;
        /*top: -130px;*/
        /* top: -195px; */
        margin-bottom:50px;
    }
    .menu-active img {
        margin: auto;
        padding-top: 5px;
    }
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .no-gutter {
        padding-left: 0;
        padding-right: 0;
    }
    #carousel-example-generic {
        display: none;
    }
    .social-container{
        display:none;
    }
}
/*-----------------------------------------------
            /Menu bs4
------------------------------------------------*/

.bold-text{
    font-weight: 700;
}
.subtitle{
    line-height: 1.4;
    font-size:2em;
}
.caption-blog{
    text-shadow: none;
    color: #666663;
	font-family: 'Raleway', sans-serif;
	text-align: left;
    line-height: 1.4;
    margin-bottom: 15px;
}
.caption-blog a:hover{
    text-decoration: none;
}
.content{
    /*padding-top: 50px;*/
}
.read-more{
    font-size: 18px;
}
.container .container{
    width: 100%;
}
h1{
    font-weight: 700;
}
.carousel-caption div{
    padding:25px;
    background: rgba(255,255,255,0.9);
    /*max-width:570px;*/
    /*width:100%;*/
}
.post-container{
    /*padding-top: 50px;*/
}
.card-post{
    margin-bottom: 50px;
    display:inline-block;
    float:left;
}
.post-title{
    margin-top:15px;
    margin-bottom:8px;
    font-size: 26px;
}
.caption-blog .lead{
    font-size:16px;
}
.lead-blog{
    margin-top:0px;
    margin-bottom:10px;
}
.date-blog{
    margin-top:5px;
    margin-bottom:20px;
}
.post-resume{
    font-size: 16px;
}
.well-blog{
    min-height: 20px;
    padding: 19px;
    /*margin-bottom: 20px;*/
    border-radius: 4px;
    /*overflow: auto;*/
    overflow: inherit;
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.05);*/
}
button#btn-search-blog, button#btn-show-more{
    flex: 1 1 auto;
    text-align: center;
    transition: 0.5s;
    background-size: 100% auto;
    color: white;
    /*box-shadow: 0 0 20px #eee;*/
    border: 0 none;
    border-radius: 30px;
    font-size: 20px;
    padding-left: 37px;
    padding-right: 37px;
    font-weight: normal;
    padding-bottom: 12px;
    padding-top: 12px;
    width: auto;
    float:left;
    margin:0px;
    background-color: #007bff;
}
.blog-search{
    min-height: 55px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
    padding: 6px 12px;
}

blockquote{
    text-align: center;
    border-left: none;
    padding: 0 20%;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 a:focus,h2 a:hover {
    text-decoration: none;
}
.img-post-list{
    margin-bottom: 10px;
}

.img-sumary-post{
    
    width: 20vw;
    height: 20vw;
}
footer{background-color: #eee; padding: 25px;}
       ul, li{list-style-type: none;}
       .list{margin-top: 15px;}

footer.index{
    color:#ffffff;
}

.lefted {
    text-align: left;
}
.no-bg{
    background:transparent !important;
}
.social-blog{
    overflow: hidden;
    z-index: 999;
    width:65px;
    float: right;
    transition: all 0.5s;
    /*position: -webkit-sticky;*/ /* Safari */
    position: sticky;
    right: 20px;
    top:150px;
    /*display: none;*/
}
.social-blog ul{
    list-style: none;
    padding-left:0px;
}

.social-blog ul li a img{
    width: 50px;
    height: 50px;
    margin: 7px;
}
.social-blog ul li a img:hover{
    width: 55px;
    height: 55px;
    margin: 4.5px;
}
.full-div{
    max-width: 100% !important;
    text-align: center;
}
.separator{
    margin-top: 50px;
}

#btn-subscription{
    background-color: #007bff; 
    color: white !important;
    position: absolute;
    width: 100%;
    left: 0;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    width: auto;
    border-radius: 30px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    max-width: 180px;
    margin: auto;
    margin-top: 8px;
}
#btn-subscription:hover{
    background-color: #0269d6;
}
#btn-subscription:focus{
    background-color: #0269d6;
}

.btn-subscription-modal{
    background-color: #007bff;
    color: white !important;
    width: auto;
    display: block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 30px;
    margin: auto;
    padding: 6px 40px;
    margin-bottom: 25px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
} 
.btn-subscription-modal{
    background-color: #0269d6 !important;
}
.modal-body {
    padding: 0 15px 15px;
    position: relative;
    margin-left:8.33%;
    margin-right:8.33%;
    /* margin-bottom:20px; */
    margin-top:20px;
}

.modal-content{
    border-radius: 0px;
}
.modal-dialog.cont{
    max-width:650px !important;
}
.footer-modal-subscribe{
    margin:auto;
    border-top: none;
}
.text-modal-content{
    margin-bottom: 25px;
    padding-top: 20px;
}
#modal-subscribe{
    background:rgba(0, 0, 0, 0.50);
}
.underline-input{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    border-bottom: 1px solid #aaa;
    font-weight: 500;
    font-size: 16px;
    z-index: 2;
    color: #525659;
    width: 90%;
    height: 1.7em;
}
.post-inner-container h1{
    font-size: 2.441rem;
}
.post-inner-container h2{
    font-size: 1.953rem;
}
.post-inner-container h3{
    font-size: 1.563rem
}
.post-inner-container h4{
    font-size: 1.25rem;
}
.post-inner-container h5{
    font-size: 1rem
}
.post-inner-container h6{
    font-size: 0.8rem
}
.post-inner-container p{
    font-size:1.25rem;
}
.blue-title-blog{
    color: #00aeef;
    margin-bottom: 30px;
}
.rose-text{
    color:#f168b5; 
}
.blue-text-blog{
    color: #00aeef;
  }
  .blue-title{
    color: #00aeef;
    font-size:36px;
    /*margin-top: 32px;*/
    font-weight: 900;
    text-align: left;
  }
  .blue-subtitle{
    color: #00aeef;
    font-size:30px;
    /*margin-top: 32px;*/
    font-weight: 900;
    text-align: left;
  }
  .primary-color-text{
    color:#563d7c;
  }
  .blue-dark-title{
      color: #2c308c;
      font-size:36px;
     /* margin-top: 32px;*/
      font-weight: 900;
      text-align: left;
    }
  .blue-dark-subtitle{
      color: #2c308c;
      font-size:30px;
      /* margin-top: 30px; */
      font-weight: 900;
      text-align: left;
    }
@media (min-width: 640px) and (max-width: 1023px){
.carousel-caption-p {
    font-size: 1.25em !important;
    }
   
}
@media (max-width: 992px){
    .post-container li{
        text-align: left;
    }
    .blog-title-menu-container{
        margin-left: 160px;
        margin-top: 0px !important;
    }
    
}

@media (max-width: 767px){
.logo-movil img{
    width: 140px;
    left:32%;
    }
.post-container img{
    width: 100%;
    height: auto;     
    }
.post-container li{
        text-align: left;
    }
.content-head-blog h1{
    font-size:1.85em !important;
}
/*h2{
    font-size:1.7em !important;
}
h3{
    font-size:1.45em !important;
}*/
.separator{
    margin-top: 0px;
}
.blog-title-menu-container{
    margin-left: 0px;
    margin-top: 30px !important;
}

}
@media (max-width: 556px){
    .logo-movil img{
        width: 140px;
        left:28%;
        }
    
    }
@media (max-width: 395px){
    .logo-movil img{
       left:18%;
        }
    }
@media (max-width: 330px){
    .logo-movil img{
        left:10%;
        }   
}

.list-title{
    color: #59aedf;
    margin-bottom: 3%;
    font-size: 1.5rem;
}

.blog-search-form-container{
    position: absolute;
    top: 250px;
}

.blog-search-form-container-other-pages{
    top: -50px;
}

.form-control-feedback.search-icon{
    font-size: 1.7rem;
    top: 17%;
    right: 2%;
}

.blog-title-menu-container{
    margin-top: 12px; 
    padding-left: 0;
    padding-right: 0;
}

.navbar-light .navbar-nav .nav-link{
    color:#ffffff;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:#e7e7e7;
}
.blog-title-menu-container .navbar-nav{
    margin: auto;
   
}

.navbar-fixed-top .blog-title-menu-container{
    margin-top: 0;
}

.blog-list-carousel{
    height: 362px;
}

.blog-list-carousel{
    height: 362px;
}

@media (max-width: 1200px){
    /*.well-blog{
        margin-top: 5%;
    }

    .blog-list-carousel{
        height: 150px;
    }*/
}
@media (min-width: 992px) and (max-width: 1199px){
    .blog-title-menu-container{
        margin-left: 200px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
    .carousel-caption.caption-blog {
        max-width: 1170px;
        margin:auto;
    }
}

@media (min-width: 768px){
    .menu-active {
        display: none;
    }
    .img-post-list {
        height: 275px;
    }
    .img-post-list img {
        max-height: 100%;
        max-width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1196px){
    .img-post-list {
        height: 240px;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .blog-title-menu-container{
        margin-left: 150px;
    }
}
@media (min-width: 768px) and (max-width: 850px){
    .blog-title-menu-container{
        margin-left:140px;
    }
    .blog-link-menu {
        font-size: 1rem !important;
    }
    .nav > li > a {
        padding: 10px 9px;
    }
}
@media (min-width: 768px) and (max-width: 784px){
    button#btn-search-blog, button#btn-show-more{
        padding-left: 35px;
        padding-right: 35px;
    }
}


@media (min-width: 481px) and (max-width: 767px){
    .well-blog{
        margin-top: 11%;
    }
}

@media (max-width: 480px){
    .well-blog{
        margin-top: 22%;
    }

    #main-info{
        margin-top: 10%;
    }

    button#btn-search-blog, button#btn-show-more{
        padding-left: 20px;
        padding-right: 20px;
    }

    div.post-container .btn-form-send{
        font-size: 1.333rem;
    }
}
